.container{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    row-gap: 10px;
    column-gap: 10px;
    
}
.header{
    border: 2px solid red;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 3px ;
}
.sidebar{
    border: 2px solid red;
    grid-row-start: 2;
    grid-row-end: 6;
    border-radius: 3px ;
   
}
.navigation{
    border: 2px solid red;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 3px ;
}
.main{
    border: 2px solid red;
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 6;
    border-radius: 3px ;
}
.adds{
    border: 2px solid red;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 7;
    border-radius: 3px ;
}
.footer{
    border: 2px solid red;
    border-radius: 3%;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 7;
    border-radius: 3px ;
}